/*
 * Normalizing -- credits go to Normalize.css 4
 */
 
 *, *:before, *:after // @stylint ignore
  box-sizing inherit
  -webkit-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  
html, body
  height: 100%
  width: 100%
  
html, body, #container
  margin 0
  box-sizing border-box
  